.topbar-responsive {
  background: lightskyblue;
  padding: 1rem 1.5rem;
  font-size: 35px;
  border-bottom: 15px;
  border-color: orange;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
  font-family: fantasy;
  font-size: 35px;
}

.topbar-responsive .menu {
  background-color: lightskyblue;
}

.txtSearch {
  background-color: orange;
  border-width: 5px;
  border-color: lightskyblue;
  font-size: 22px;
}
.btn {
  border: 6px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  font-family: fantasy;
}
.youtube-card {
  width: 40%;
  border: 15px solid orange;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  padding: 14px;
  font-size: 22px;
  cursor: pointer;
  margin-left: 5%;
}
.recipe-card {
  width: 40%;
  border: 15px solid orange;
  background-color: lightskyblue;
  color: white;
  border-radius: 5px;
  padding: 14px;
  font-size: 22px;
  cursor: pointer;
  margin-right: 5%;
}
h4 {
  font-size: 35px;
  color: black;
  font-weight: bolder;
}

#search-history {
  list-style: none;
}
.topbar-responsive .menu li:last-of-type {
  margin-right: 0;
}

.topbar-responsive .menu a {
  color: #fefefe;
  transition: color 0.15s ease-in;
  border: 6px solid orange;
  background-color: orange;
  color: white;
  border-radius: 5px;
  padding: 14px 28px;
  font-size: 22px;
  cursor: pointer;
  font-family: fantasy;
}

.topbar-responsive .menu a:hover {
  color: lightskyblue;
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive .menu a {
    padding: 0.875rem 0;
  }
}

.card-section {
  width: 100%;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#results-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.topbar-responsive .menu .topbar-responsive-button {
  color: #fefefe;
  border-color: #fefefe;
  border-radius: 5000px;
  transition: color 0.15s ease-in, border-color 0.15s ease-in;
}

.topbar-responsive .menu .topbar-responsive-button:hover {
  color: #c6d1d8;
  border-color: #c6d1d8;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@media screen and (max-width: 39.9375em) {
  .topbar-responsive-links {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    width: 100%;
    -webkit-animation: fadeIn 1s ease-in;
    animation: fadeIn 1s ease-in;
  }
}
